beautifulsoup4==4.12.3
chromadb==0.4.6
click==8.1.7
gradio
langchain==0.1.20
langchain_community==0.0.38
langchain_core==0.1.52
llama_index==0.10.37
mysql_connector_repackaged==0.3.1
ollama==0.2.0
torch

